# Build directory
build/

# Visual Studio
.vs/
*.vcxproj.user
.vscode/

# CMake
CMakeCache.txt
CMakeFiles/

# Generated binaries
*.exe
*.lib
*.dll
*.obj
*.pdb

# Third-party libraries
third_party/*
!third_party/README.md
!third_party/bgfx/
third_party/bgfx/*
!third_party/bgfx/shaders/
!third_party/bgfx/shaders/**
